*, 
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  padding: 1rem;
}

.input-form-1 {
  width: 90%;
  margin: 1rem 5%;
  padding: 5px 10px;
}

.input {
  border: 2px solid green;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.input-moderno {
  border: none;
  border-bottom: 1px solid #c2c2c2;
  outline: none;
}

.input-moderno:focus {
  border-bottom: 1px solid #5f5f5f; 
}

.input-moderno::placeholder {
  color: #c2c2c2;
}

.input-background {
  background-color: aliceblue;
  box-shadow: 0 0 10px #ccc;
}

.input-background::placeholder {
  color: #000;
}

.input-search {
  background-image: url(https://img.icons8.com/external-others-zufarizal-robiyanto/24/000000/external-lup-mutuline-science-education-others-zufarizal-robiyanto.png);
  background-repeat: no-repeat; /* asi no se me repite la imagen*/
  background-position: 10px;
  padding-left: 40px; /* asi la imagen no tapa el placeholder*/;
}

.input[type="password"] {
  color: red;
}

textarea {
  resize: none;
  margin-left: 5%;
}

select {
  width: 90%;
  margin: 5%;
  padding: 10px;
  background-color: #ccb0b0;
}