.div-1,
.div-2 {
  background-color: red;
}

.img {
  width: 50px;
  height: 50px;
}

.span-1,
.span-2 {
  background-color: aquamarine;
}

.span-2 {
  float: right;
}

/* posicionamiento */

.posicionamiento div {
  border: 1px solid gray;
  margin: 5px;
  padding: 5px;
}

.relative {
  position: relative;
  left: 80px;
  margin-left: 10px;
  width: 80%;
}

.fixed {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: greenyellow;
  z-index: 1;
}

.absolute {
  position: absolute;
  top: 10px;
  right: 0px;
  background-color: yellow;
}

.container {
  width: 300px;
  height: 800px;
  background-color: blue;
}

.sticky {
  position: sticky;
  background-color: aqua;
  top: 0px;
  z-index: 2;
}

/* Overflow */
.overflow {
  margin-bottom: 200px;
}
.overflow .contenedor {
  background-color: antiquewhite;
  width: 200px;
  height: 100px;
  padding: 15px;
  margin-bottom: 10px;
} 

.contenedor-hidden {
  overflow: hidden;
}

.contenedor-scroll {
  overflow: scroll;
}

.contenedor-auto {
  overflow: auto;
}

.contenedor-visible {
  overflow: visible;
}

/* galeria */
.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.imagen-galeria {
  width: 180px;
}

.imagen-galeria:hover {
  opacity: 0.5;
  cursor: pointer;
}