body {
  padding: 2rem 1rem;
  text-align: center;
}

header {
  margin-bottom: 2rem;
}

.btn-modern {
  padding: 12px 18px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  -webkit-border-radius: 7px;
  border: none;
  background-color: rgb(232, 234, 79);
  box-shadow: -4px 4px gray;
  font-weight: 800;
}

/*
Implementa las líneas necesarias en el CSS para que cuando el ratón pase por encima del botón ocurra lo siguiente (hover):

El botón se traslade -5px en el eje de las Y
Se añada una sombra
El color de fondo del botón cambie
El color del texto cambie
Todo esto con una transición de 0.4s
*/
.btn-modern:hover {
  animation: traslacion 4s ease-in-out 2s;
  -webkit-animation: traslacion 4s ease-in-out 2s;
}

@keyframes traslacion {
  0%{
    transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -ms-transform: translateX(0%) translateY(0%);
    -o-transform: translateX(0%) translateY(0%);
}
  100% {
    transform: translateX(0%) translateY(-5%);
    -webkit-transform: translateX(0%) translateY(-5%);
    -moz-transform: translateX(0%) translateY(-5%);
    -ms-transform: translateX(0%) translateY(-5%);
    -o-transform: translateX(0%) translateY(-5%);
}
}